<div class="container mt-5">
    <h2 class="text-center mb-4">Últimos Mensajes de Contacto (No leídos)</h2>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Fecha</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Comentario</th>
            </tr>
        </thead>
        <tbody>
            {{#each contactosConTiempo}}
            <tr>
                <td>{{this.tiempo   }}</td>
                <td>{{this.nombre}}</td>
                <td>{{this.email}}</td>
                <td>{{this.comentario}}</td>
            </tr>
            {{else}}
            <tr>
                <td colspan="4" class="text-center">No hay mensajes no leídos.</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
