<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{basedir}}/productos">
                <img src="/img_logo/logo.png" alt="Logo" style="height: 40px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{basedir}}/productos">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{basedir}}/nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{basedir}}/contacto">Contactenos</a>
                    </li>                    
                    {{#if (eq user.rol 'ROLE_ADMINISTRADOR')}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="productosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestiones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="productosDropdown">
                            <li><a class="dropdown-item" href="{{basedir}}/mensajes">Mensajes</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{basedir}}/admin/abm">Gestión de Productos</a></li>
                            <li><a class="dropdown-item" href="{{basedir}}/alta">Nuevos Productos</a></li>
                        </ul>
                    </li>                    
                    {{/if}}
                </ul>                

                {{#if user}}
                <ul class="navbar-nav">
                    <!-- 🛒 Carrito -->
                    <li class="nav-item" id="cart-container" style="display: none; position: relative;">
                        <a href="#">
                            <span id="cart-icon">🛒</span>
                            <span id="cart-count" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0</span>
                        </a>
                    </li>

                    <!-- Usuario + logout -->
                    <li class="nav-item">
                        <span class="nav-link disabled">Hola, {{user.usuario}}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{basedir}}/logout">Cerrar sesión</a>
                    </li>
                </ul>
                {{/if}}
            </div>
        </div>
    </nav>
</header>
